<div class="container">

  <h1>Mes listes</h1>

  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list)%></li>
    <% end %>
  </ul>

  <div class="mt-4 btn-div"><%= link_to "Create a new movie list", new_list_path, class: "btn btn-primary" %></div>

</div>
